[submodule "zsh/plugins/zsh-bd"]
	path = zsh/plugins/zsh-bd
	url = git@github.com:Tarrasch/zsh-bd.git
[submodule "vim/.vim/pack/plugins/start/vim-linux-coding-style"]
	path = vim/.vim/pack/plugins/start/vim-linux-coding-style
	url = git@github.com:gregkh/kernel-coding-style.git
[submodule "vim/.vim/pack/plugins/start/fzf.vim"]
	path = vim/.vim/pack/plugins/start/fzf.vim
	url = git@github.com:junegunn/fzf.vim.git
[submodule "vim/.vim/pack/plugins/start/gruvbox.vim"]
	path = vim/.vim/pack/plugins/start/gruvbox.vim
	url = git@github.com:morhetz/gruvbox.git
[submodule "vim/.vim/pack/plugins/start/YouCompleteMe.vim"]
	path = vim/.vim/pack/plugins/start/YouCompleteMe.vim
	url = git@github.com:ycm-core/YouCompleteMe.git
[submodule "vim/.vim/pack/plugins/start/delimitMate"]
	path = vim/.vim/pack/plugins/start/delimitMate
	url = git@github.com:Raimondi/delimitMate.git
[submodule "vim/.vim/pack/plugins/start/vim-clang-format"]
	path = vim/.vim/pack/plugins/start/vim-clang-format
	url = git@github.com:rhysd/vim-clang-format.git
[submodule "vim/.vim/pack/plugins/start/vim-highlightedyank"]
	path = vim/.vim/pack/plugins/start/vim-highlightedyank
	url = https://github.com/machakann/vim-highlightedyank.git
